@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&family=Yellowtail&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}
.fs-16{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #737B9A;
}
.fs-77{
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 77.5385px;
    text-align: center;
    color: #252930;
}
.btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    padding: 8px 15px;
    background-color: #4D73F8;
    border: 2px solid #4D73F8;
    border-radius: 74px;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}
.pt-25{
    padding-top: 25px;
}
.pt-10{
    padding-top: 10px;
}
.pb-10{
    padding-bottom: 10px;
}
.min-vh-100{
    min-height: 100vh;
}

.card{
    min-width: 700px;
    min-height: 450px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 13px 50px rgba(115, 123, 154, 0.2);
    border-radius: 10px;
}
.relative{
    position: absolute;
}
img[alt="top-left"]{
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;
}
img[alt="top-right"]{
    top: 0;
    right: 0;
    position: absolute;
    border-radius: 10px;
}
img[alt="bottom-right"]{
    bottom: 0;
    right: 0;
    position: absolute;
    border-radius: 10px;
}
img[alt="bottom-left"]{
    bottom: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;
}
img[alt="Vector"]{
    position: absolute;
    right: 30px;
    top: 30px;
}
.z-index-1{
    z-index: 1;
}
.w-100{
    width: 100%;
}
.bg-black{
    background-color: black;
}
@media (max-width: 768px) {
    .card{
        min-width: 550px;
        min-height: 380px;
        background-color: #FFFFFF;
        position: relative;
    }
    .fs-16{
        font-size: 12px;
    }
    .fs-77{
        font-size: 65px;
    }
    .pt-10{
        padding-top: 8px;
    }
    .pb-10{
        padding-bottom: 8px;
    }
    img[alt="top-left"]{
        top: 0;
        left: 0;
        position: absolute;
        width: 40%;
    }
    img[alt="top-right"]{
        top: 0;
        right: 0;
        position: absolute;
        width: 25%;
    }
    img[alt="bottom-right"]{
        bottom: 0;
        right: 0;
        position: absolute;
        width: 15%;
    }
    img[alt="bottom-left"]{
        bottom: 0;
        left: 0;
        position: absolute;
        width: 30%;
    }
    img[alt="Vector"]{
        position: absolute;
        right: 25px;
        top: 25px;
        width: 16px;
    }
    .btn{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: #FFFFFF;
        padding: 4px 13px;
        background-color: #4D73F8;
        border: 2px solid #4D73F8;
        border-radius: 74px;
    }
    .pt-25{
        padding-top: 15px;
    }
}
@media (max-width: 576px){
    .card{
        min-width: 310px;
        min-height: 170px;
        background-color: #FFFFFF;
        position: relative;
    }
    .fs-16{
        font-size: 9px;
    }
    .fs-77{
        font-size: 35px;
    }
    .pt-10{
        padding-top: 1px;
    }
    .pb-10{
        padding-bottom: 1px;
    }
    img[alt="top-left"]{
        top: 0;
        left: 0;
        position: absolute;
        width: 25%;
    }
    img[alt="top-right"]{
        top: 0;
        right: 0;
        position: absolute;
        width: 15%;
    }
    img[alt="bottom-right"]{
        bottom: 0;
        right: 0;
        position: absolute;
        width: 12%;
    }
    img[alt="bottom-left"]{
        bottom: 0;
        left: 0;
        position: absolute;
        width: 20%;
    }
    img[alt="Vector"]{
        position: absolute;
        right: 5px;
        top: 5px;
        width: 12px;
    }
    .btn{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        color: #FFFFFF;
        padding: 2px 10px;
        background-color: #4D73F8;
        border: 2px solid #4D73F8;
        border-radius: 74px;
    }
    .pt-25{
        padding-top: 10px;
    }
}